<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
  <id>dev-azure-com-jpsureshazure-roshan_feed</id>
  <username>roshan_feed</username>
  <!-- Treat this auth token like a password. Do not share it with anyone, including Microsoft support. -->
  <!-- The generated token expires on or before 2/16/2020 -->
  <password>brceim4fu3pirmafn5bzmx774mxbe4oce6leqgqxmzuwe6jmbmaa</password>
    </server>
  </servers>
</settings>
